/* .signup_container {
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
} */









/* .form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
} */

/* .form_container h1 {
	font-size: 40px;
	margin-top: 0;
} */




