.banner-header{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 50px ;
   
}
.banner-container{
    margin-bottom: 100px;
}

body {
    background-color: rgba(255, 235, 205, 0.411);
    overflow-x: hidden;
}

.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;
    margin-bottom: 150px;

}

.hr-width {
    /* width: 150px; */
    /* margin-left: 570px;
    margin-top: 20px; */
    padding: 3px;
    color: rgb(2, 154, 255);
}

.brief-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(96, 187, 248, 0.521);
}

.brief-info {
    margin-bottom: 200px;
}



/* login css  */

.texty {
    animation: texty 1s infinite;
  }
  
  @keyframes texty {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }